<h1>Add a Venue</h1>

<form action="/add-venue" method="post">
  <label for="name">Venue Name</label>
  <input type="text" id="name" name="name">

  <button id="submitVenue" type="submit" class="btn btn-success">Submit</button>
</form>

<a href="/list-bands">List All Bands</a>
<a href="/add-band">Add a Band</a>
<a href="/list-venues">List All Venues</a>
<a href="/">Home</a>
