<h1>All Venues</h1>

#if ($deleted)
<h3 class="animated flash success">Venue successfully deleted</h3>
#end

#foreach ($venue in $venues)
  <a href="/venue/$venue.getId()">$venue.getName()</a>
  <br>
#end
<br>

<hr>
<a class="bottomNav" href="/list-bands">View All Bands</a>
<a class="bottomNav" href="/add-band">Add a Band</a>
<a class="bottomNav" href="/add-venue">Add a Venue</a>
<a class="bottomNav" href="/">Home</a>
