<h1>$venue.getName()</h1>


<a href="/add-band">Add a Band</a>
<a href="/list-bands">List All Bands</a>
<a href="/add-venue">Add a Venue</a>
<a href="/list-venues">List All Venues</a>
<a href="/">Home</a>
